/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*font*/

@font-face {
    font-family: "Panton";
    src: url("../fonts/Panton.otf"),
    url("../fonts/panton.eot"),
    url("../fonts/panton.eot?#iefix") format("embedded-opentype"),
    url("../fonts/panton.woff") format("woff"),
    url("../fonts/panton.woff2") format("woff2"),
    url("../fonts/panton.ttf") format("truetype"),
    url("../fonts/panton.svg#Panton") format("svg");

    font-weight: normal;
    font-style: normal;
}

/*page*/

html, body{
    width: 100%;
    position: relative;
}

body{
    background-color: gray;
    font-size: 14px;
    font-family: "Panton";
    text-align: center;
}

.b-form{
    display: inline-block;
    margin-top: 5%;
    width: 50%;
    background-color: white;
    padding: 25px;
}

input{
    outline: none;
    border:solid 1px lightgray;
    padding: 5px;
}

button{
    padding: 7px 12px;
    color:white;
    font-size: 15px;
    outline: none;
}

button:hover{
    cursor:pointer;
    opacity: 0.7;
}

.btn-save{
    background-color: darkturquoise;
    border: solid 1px darkturquoise;
}

.btn-clear{
    background-color: lightgray;
    border: solid 1px lightgray;
}

.b-form h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    cursor: default;
}

.b-buttons-form button:not(:last-child){
    margin-right: 15px;
}

.b-form-input{
    margin-bottom: 20px;
}

.b-buttons-form{
    padding-top: 10px;
}

.b-form-input > label{
    min-width: 130px;
    display: inline-block;
    vertical-align: middle;
}

.b-autocomplete{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.b-autocomplete-dropdown{
    position: absolute;
    width: 100%;
    border: solid 1px darkturquoise;
    margin-top: 1px;
    z-index: 1;
    background-color: white;
    text-align: left;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display:none;
}

.b-autocomplete-dropdown.active{
    display:block;
}

.b-autocomplete-dropdown li{
    padding: 5px;
}

.b-autocomplete-dropdown li:hover{
    background-color: darkturquoise;
    color:white;
    cursor: pointer;
}

.message{
    display: none;
}

.error-message{
    color:red;
}

.success-message{
    color: darkturquoise;
}